@model IEnumerable<BTLCongNgheWeb_Version2.Entity.Employee>

@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}

@section Link {
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Admin</a>
        </li>

        <li>
            <a href="#">Nhân viên</a>
        </li>
        <li class="active">Danh sách nhân viên</li>
    </ul><!-- /.breadcrumb -->
}
<p>
    <a class="btn btn-info" href="@Url.Action("Add", "Employee", new { Area = "Admin" })">Tạo tài khoản nhân viên</a>
</p>

<div class="row">
    <div class="col-xs-10">

        <div class="clearfix">
            <div class="pull-right tableTools-container"></div>
        </div>
        <div class="table-header">
            Danh sách nhân viên
        </div>

        <!-- div.table-responsive -->
        <!-- div.dataTables_borderWrap -->
        <div>
            <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline no-footer">
                <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>@Html.DisplayName("Tên nhân viên")</th>
                            <th>@Html.DisplayName("Email")</th>
                            <th class="hidden-480">@Html.DisplayName("Tài khoản")</th>

                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td class="hidden-480">
                                    @Html.DisplayFor(modelItem => item.Login)
                                </td>
                                <td>
                                    <div class="hidden-sm hidden-xs action-buttons">
                                        <a class="blue" href="@Url.Action("Details", "Employee", new { id = item.ID })">
                                            <i class="ace-icon fa fa-search-plus bigger-130"></i>
                                        </a>

                                        <a class="green" href="@Url.Action("Edit", "Employee", new { id = item.ID })">
                                            <i class="ace-icon fa fa-pencil bigger-130"></i>
                                        </a>

                                        <a class="red" href="@Url.Action("Delete", "Employee", new { id = item.ID })">
                                            <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <div class="ui-jqgrid ui-widget ui-widget-content ui-corner-all" id="gbox_grid-table" dir="ltr" style="width: 100%;">
                    <div class="ui-jqgrid-pager ui-state-default ui-corner-bottom" id="gbox_grid-table" dir="ltr" style="width: 100%;">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-4">
                            @{
                                int sotrang = ViewBag.count / 10 + 1;
                                int index = ViewBag.requiredpage;
                            }
                            @using (Html.BeginForm("List", "Employee"))
                            {
                                <table class="ui-pg-table ui-common-table ui-paging-pager" style="text-align:center">
                                    <tbody>
                                        <tr>
                                            @if (index == 1)
                                            {
                                                <td id="first_grid-pager" class="ui-pg-button ui-corner-all ui-state-disabled" title="First Page" style="cursor: default;"><span class="ui-icon ace-icon fa fa-angle-double-left bigger-140"></span></td>
                                                <td id="prev_grid-pager" class="ui-pg-button ui-corner-all ui-state-disabled" title="Previous Page" style="cursor: default;"><span class="ui-icon ace-icon fa fa-angle-left bigger-140"></span></td> }
                                            else
                                            {
                                                <td id="first_grid-pager" class="ui-pg-button ui-corner-all ui-state" title="First Page" style="cursor: default;">
                                                    <a class="ui-icon ace-icon fa fa-angle-double-left bigger-140" href="@Url.Action("Employee", "Order", new { page = 1 })"></a>
                                                </td>
                                                <td id="prev_grid-pager" class="ui-pg-button ui-corner-all ui-state" title="Previous Page" style="cursor: default;">
                                                    <a class="ui-icon ace-icon fa fa-angle-left bigger-140" href="@Url.Action("Employee", "Order", new { page = @index - 1 })"></a>
                                                </td>  }
                                            <td class="ui-pg-button ui-state-disabled" style="cursor: default;"><span class="ui-separator"></span></td>
                                            <td id="input_grid-pager" dir="ltr">
                                                Trang
                                                @*<input class="ui-pg-input ui-corner-all" type="text" size="2" maxlength="7" value="0" role="textbox">*@
                                                @Html.TextBox("page", null, "", new { @class = "ui-pg-input ui-corner-all" })
                                                trên <span id="sp_1_grid-pager">@sotrang</span>
                                            </td>
                                            <td class="ui-pg-button ui-state-disabled"><span class="ui-separator"></span></td>
                                            @if (index == sotrang)
                                            {
                                                <td id="next_grid-pager" class="ui-pg-button ui-corner-all ui-state-disabled" title="Next Page" style="cursor: default;"><span class="ui-icon ace-icon fa fa-angle-right bigger-140"></span></td>
                                                <td id="last_grid-pager" class="ui-pg-button ui-corner-all ui-state-disabled" title="Last Page" style="cursor: default;"><span class="ui-icon ace-icon fa fa-angle-double-right bigger-140"></span></td> }
                                            else
                                            {
                                                <td id="next_grid-pager" class="ui-pg-button ui-corner-all ui-state-hover" title="Next Page" style="cursor: pointer;">
                                                    <a class="ui-icon ace-icon fa fa-angle-right bigger-140" href="@Url.Action("List", "Employee", new { page = @index + 1 })"></a>
                                                </td>
                                                <td id="last_grid-pager" class="ui-pg-button ui-corner-all" title="Last Page" style="cursor: default;">
                                                    <a class="ui-icon ace-icon fa fa-angle-double-right bigger-140" href="@Url.Action("List", "Employee", new { page = @sotrang })"></a>
                                                </td>  }

                                        </tr>
                                    </tbody>
                                </table>
                            }
                        </div>
                        <div class="col-xs-4">
                            @{
                                int dau = (index - 1) * 10 + 1;
                                int cuoi;
                                if (dau + 10 <= ViewBag.count)
                                { cuoi = dau + 9; }
                                else
                                { cuoi = int.Parse(ViewBag.count.ToString()); }
                            }
                            <div dir="ltr" style="text-align:right" class="ui-paging-info">Hiển thị @dau - @cuoi của @ViewBag.count bản ghi</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p>@ViewBag.ida</p>

<div class="container">
    <h2>Modal Example</h2>
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h6 class="modal-title">Bạn có chắc muốn xóa nhân viên này ?</h6>
                </div>
                @*<div class="modal-body">

                    </div>*@
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>

        </div>
    </div>

</div>
