@model BTLCongNgheWeb_Version2.Entity.Order
@using BTLCongNgheWeb_Version2.Dao
@using BTLCongNgheWeb_Version2.Entity
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}

@section Link {
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Admin</a>
        </li>
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Đơn hàng</a>
        </li>
        <li class="active">Chi tiết đơn hàng</li>
    </ul><!-- /.breadcrumb -->
}

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ID)
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-11">
            <div class="form-group">
                @Html.LabelFor(model => model.ID, "Mã hóa đơn", new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.ID, new { @class = "col-xs-10 col-sm-4", @readonly = "" })
                    @Html.ValidationMessageFor(model => model.ID)
                </div>
                @Html.LabelFor(model => model.CustomerID, "Mã khách hàng", new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.CustomerID, new { @class = "col-xs-10 col-sm-4", @readonly = "" })
                    @Html.ValidationMessageFor(model => model.CustomerID)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TenKhachHang, "Tên khách hàng", new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.TenKhachHang, new { @class = "col-xs-10 col-sm-10", @readonly = "" })
                    @Html.ValidationMessageFor(model => model.TenKhachHang)
                </div>
                @Html.LabelFor(model => model.SDTLienLac, "Số điện thoại", new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.SDTLienLac, new { @class = "col-xs-10 col-sm-10", @readonly = "" })
                    @Html.ValidationMessageFor(model => model.SDTLienLac)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DiaChiGiaoHang, "Địa chỉ giao hàng", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.DiaChiGiaoHang, new { @class = "col-xs-10 col-sm-8", @readonly = "" })
                    @Html.ValidationMessageFor(model => model.DiaChiGiaoHang)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NgayNhanYeuCau, "Ngày ghi hóa đơn", new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.NgayNhanYeuCau, new { @class = "col-xs-10 col-sm-10", @readonly = "" })
                    @Html.ValidationMessageFor(model => model.NgayNhanYeuCau)
                </div>
                @Html.LabelFor(model => model.NgayHoanThanh, "Ngày gửi hàng", new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.NgayHoanThanh, new { @class = "col-xs-10 col-sm-10", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.NgayHoanThanh)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.GiaoHang, "Giao hàng", new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.GiaoHang, new { @class = "col-xs-10 col-sm-10", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.GiaoHang)
                </div>
                @Html.LabelFor(model => model.ThanhToan, "Thanh toán", new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.ThanhToan, new { @class = "col-xs-10 col-sm-10", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.ThanhToan)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-9">

            <div class="clearfix">
                <div class="pull-right tableTools-container"></div>
            </div>
            <div class="table-header">
                Danh sách sản phẩm yêu cầu
            </div>

            <!-- div.table-responsive -->
            <!-- div.dataTables_borderWrap -->
            <div>
                <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline no-footer">
                    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>@Html.DisplayName("STT")</th>
                                <th>@Html.DisplayName("Mã sản phẩm")</th>
                                <th>@Html.DisplayName("Tên sản phẩm")</th>
                                <th class="hidden-480">@Html.DisplayName("Số lượng")</th>
                                <th>@Html.DisplayName("Đơn giá")</th>
                                <th>@Html.DisplayName("Thành tiền")</th>
                            </tr>
                        </thead>
                        @{
                            ProductDao product_dao = new ProductDao();
                        }

                        <tbody>
                            @{
                                int STT = 0;
                                int Sum = 0;
                                foreach (CF_Orders_Products orderitem in ViewBag.OrderItem)
                                {
                                    STT++;
                                    int thanhtien = (int)orderitem.Price * (int)orderitem.Qty;
                                    Sum += thanhtien;

                                    <tr>
                                        <td>
                                            <p>@STT</p>
                                        </td>
                                        <td>
                                            <p>@orderitem.ProductID</p>
                                        </td>

                                        @{
                                    string name = product_dao.GetNameProductByID(orderitem.ProductID);
                                        }
                                        <td>
                                            <p>@name</p>
                                        </td>
                                        <td class="hidden-480">
                                            <p>@orderitem.Qty</p>
                                        </td>
                                        <td class="hidden-480">
                                            <p>@orderitem.Price</p>
                                        </td>
                                        <td class="hidden-480">
                                            <p>@thanhtien</p>
                                        </td>
                                    </tr>
                                }
                            }
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><p>Tổng tiền <p></td>
                                <td><p>@Sum <p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-3">
            @if (Model.GiaoHang == true)
            {
                <a class="btn">Xác nhận giao hàng</a>
            }
            else
            {
                @Html.ActionLink("Xác nhận giao hàng", "DeliveryConfirmation", new { id = Model.ID }, new { @class = "btn btn-info" })
            }
        </div>
        <div class="col-md-3">
            @if (Model.ThanhToan == true)
            {
                <a class="btn">Xác nhận thanh toán</a>
            }
            else
            {
                @Html.ActionLink("Xác nhận thanh toán", "PaymentConfirmation", new { id = Model.ID }, new { @class = "btn btn-info" })
            }
        </div>
    </div>
</div>
<div class="form-group">

    <div class="col-md-9">
        <p>
            @Html.ActionLink("Quay lại danh sách", "List", new { RequiredPage = 1 })
        </p>
    </div>
    <div class="control-label col-md-3">
        <p>
            @Html.ActionLink("Hủy hóa đơn", "Delete", new { id = Model.ID })
        </p>
    </div>
</div>


@*@{
        foreach (CF_Orders_Products orderitem in ViewBag.OrderItem)
        {
            @orderitem.ProductID.ToString()
        }
    }*@






