@model IEnumerable<BTLCongNgheWeb_Version2.Entity.Order>

@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}
@section Link {
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Admin</a>
        </li>
        <li class="active">Đơn hàng</li>
    </ul><!-- /.breadcrumb -->
}


<div class="row">
    <div class="col-xs-10">

        <div class="clearfix">
            <div class="pull-right tableTools-container"></div>
        </div>
        <div class="table-header">
            Danh sách đơn hàng
        </div>

        <!-- div.table-responsive -->
        <!-- div.dataTables_borderWrap -->
        <div>
            <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline no-footer">
                <div class="row">
                    <div class="col-xs-6"><div class="dataTables_length" id="dynamic-table_length"><label>Display <select name="dynamic-table_length" aria-controls="dynamic-table" class="form-control input-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> records</label></div></div><div class="col-xs-6"><div id="dynamic-table_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control input-sm" placeholder="" aria-controls="dynamic-table"></label></div></div>
                </div>
                <table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer">
                    <thead>
                        <tr>
                            <th>@Html.DisplayName("Mã đơn hàng")</th>
                            <th>@Html.DisplayName("Mã khách hàng")</th>
                            <th>@Html.DisplayName("Tên khách hàng")</th>
                            <th>@Html.DisplayName("Số điện thoại")</th>
                            <th>@Html.DisplayName("Ngày nhận yêu cầu")</th>
                            <th>@Html.DisplayName("Giao hàng")</th>
                            <th>@Html.DisplayName("Thanh toán")</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ID)
                                </td>
                                <td>
                                    @{
                            string custom_id;
                            if (item.CustomerID == null)
                            {
                                custom_id = "Không có";
                            }
                            else { custom_id = item.CustomerID.ToString(); }
                                    }
                                    @*@Html.Display(null,custom_id)*@
                                    <p>@custom_id</p>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TenKhachHang)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SDTLienLac)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NgayNhanYeuCau)
                                </td>
                                <td>
                                    @{
                            string giaohang = "";
                            if (item.GiaoHang == true)
                            {
                                giaohang = "Đã giao hàng";
                            }

                            else { giaohang = "Chưa giao hàng"; }
                                    }
                                    @*@Html.DisplayFor(modelItem => item.GiaoHang,giaohang)*@
                                    <p>@giaohang</p>
                                </td>
                                <td>
                                    @{
                            string thanhtoan = "";
                            if (item.ThanhToan == true)
                            {
                                thanhtoan = "Đã thanh toán";
                            }

                            else { thanhtoan = "Chưa thanh toán"; }
                                    }
                                    @*@Html.DisplayFor(modelItem => item.ThanhToan, thanhtoan)*@
                                    <p>@thanhtoan</p>
                                </td>
                                <td>
                                    <div class="hidden-sm hidden-xs action-buttons">
                                        <a class="blue" href="@Url.Action("Details", "Order", new { id = item.ID })">
                                            <i class="ace-icon fa fa-search-plus bigger-130"></i>
                                        </a>

                                        <a class="green" href="@Url.Action("Edit", "Order", new { id = item.ID })">
                                            <i class="ace-icon fa fa-pencil bigger-130"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <div class="row">
                    <div class="col-xs-6">
                        @*<div class="dataTables_info" id="dynamic-table_info" role="status" aria-live="polite">Hiển 1 to 10 of 23 entries</div>*@
                    </div>
                    <div class="col-xs-6">
                        <div class="dataTables_paginate paging_simple_numbers" id="dynamic-table_paginate">
                            <ul class="pagination">
                                @{
                                    int sotrang = ViewBag.Count / 10 + 1;
                                    int index = ViewBag.RequiredPage;
                                    if(index == 1)
                                    {
                                        <li class="paginate_button previous disabled" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_previous"><a href="#">Trang trước</a></li>
                                    }
                                    else
                                    {
                                        <li class="paginate_button previous" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_previous"><a href="@Url.Action("List", "Order", new { RequiredPage = index - 1 })">Trang trước</a></li>
                                    }
                                    for (int i = 1; i <= sotrang;i++ )
                                    {
                                        if(i == index)
                                        {
                                            <li class="paginate_button active" aria-controls="dynamic-table" tabindex="0"><a href="#">@i</a></li>
                                        }
                                        else
                                        {
                                            <li class="paginate_button " aria-controls="dynamic-table" tabindex="0"><a href="@Url.Action("List", "Order", new { RequiredPage = i })">@i</a></li>
                                        }
                                    }
                                    if(index == sotrang)
                                    {
                                        <li class="paginate_button next disabled" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_next"><a href="#">Trang sau</a></li>
                                    }
                                    else
                                    {
                                        <li class="paginate_button next" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_next"><a href="@Url.Action("List", "Order", new { RequiredPage = index + 1 })">Trang sau</a></li>
                                    }
                                }
                                 
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


