@model BTLCongNgheWeb_Version2.Entity.Product
@using BTLCongNgheWeb_Version2.Dao
@using BTLCongNgheWeb_Version2.Entity
@using BTLCongNgheWeb_Version2.Models

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_HomePage.cshtml";
}
@section details_product_slider
{
    <script src="~/HomePage/js/jquery.jscrollpane.min.js"></script>
    <script type="text/javascript" id="sourcecode">
        $(function () {
            $('.scroll-pane').jScrollPane();
        });
    </script>
    <!----details-product-slider--->
    <!-- Include the Etalage files -->
    <link href="~/HomePage/css/etalage.css" rel="stylesheet" />
    <script src="~/HomePage/js/jquery.etalage.min.js"></script>
    <!-- Include the Etalage files -->
    <script>
        jQuery(document).ready(function ($) {

            $('#etalage').etalage({
                thumb_image_width: 300,
                thumb_image_height: 400,

                show_hint: true,
                click_callback: function (image_anchor, instance_id) {
                    alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
                }
            });
            // This is for the dropdown list example:
            $('.dropdownlist').change(function () {
                etalage_show($(this).find('option:selected').attr('class'));
            });

        });
    </script>
}

<div class="single">
    <div class="wrap">

        <div class="cont span_2_of_3">
            <div class="labout span_1_of_a1">
                <!-- start product_slider -->
                <ul id="etalage">
                    @foreach (ProductImage p in @ViewBag.Image)
                    {
                        <li>
                            <img class="etalage_thumb_image" src="@p.URLImage" />
                            <img class="etalage_source_image" src="@p.URLImage" />
                        </li>
                    }
                </ul>


                <!-- end product_slider -->
            </div>
            <div class="cont1 span_2_of_a1">

                <h3 class="m_3">@Model.FullNameProduct</h3>

                <div class="price_single">
                    @*<span class="reducedfrom">$66.00</span>*@
                    <span class="actual">@Model.Price VND</span><a href="#">click for offer</a>
                </div>
                @*<ul class="options">
                        <h4 class="m_9">Select a Size</h4>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <div class="clear"></div>
                    </ul>*@
                <div class="btn_form">
                    <form>
                        <input type="submit" value="buy now" title="">
                    </form>
                </div>
                <ul class="add-to-links">

                    <li><img src="~/HomePage/images/wish.png" /><a href="#">Add to wishlist</a></li>
                </ul>
                <p class="m_desc">@Model.Description</p>

                <div class="social_single">
                    <ul>
                        <li class="fb"><a href="#"><span> </span></a></li>
                        <li class="tw"><a href="#"><span> </span></a></li>
                        <li class="g_plus"><a href="#"><span> </span></a></li>
                        <li class="rss"><a href="#"><span> </span></a></li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
            <ul id="flexiselDemo3">
                @foreach (ViewProduct vp in ViewBag.ViewNewsProduct2)
                {
                    <li>
                        <a href="@Url.Action("Detail", "HomePage", new { id = vp.ID })">
                            <img src="@vp.UrlImage">
                            <div class="grid-flex">
                                @vp.Maker
                            </div>
                        </a>

                    </li>

                }
            </ul>
            <script type="text/javascript">
                $(window).load(function () {
                    $("#flexiselDemo1").flexisel();
                    $("#flexiselDemo2").flexisel({
                        enableResponsiveBreakpoints: true,
                        responsiveBreakpoints: {
                            portrait: {
                                changePoint: 480,
                                visibleItems: 1
                            },
                            landscape: {
                                changePoint: 640,
                                visibleItems: 2
                            },
                            tablet: {
                                changePoint: 768,
                                visibleItems: 3
                            }
                        }
                    });

                    $("#flexiselDemo3").flexisel({
                        visibleItems: 5,
                        animationSpeed: 1000,
                        autoPlay: true,
                        autoPlaySpeed: 3000,
                        pauseOnHover: true,
                        enableResponsiveBreakpoints: true,
                        responsiveBreakpoints: {
                            portrait: {
                                changePoint: 480,
                                visibleItems: 1
                            },
                            landscape: {
                                changePoint: 640,
                                visibleItems: 2
                            },
                            tablet: {
                                changePoint: 768,
                                visibleItems: 3
                            }
                        }
                    });

                });
            </script>
            <script src="~/HomePage/js/jquery.flexisel.js"></script>
            <div class="toogle">
                <h3 class="m_3">Product Details</h3>
                <p class="m_text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
            </div>
            <div class="toogle">
                <h3 class="m_3">Product Reviews</h3>
                <p class="m_text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

